{% extends 'adminhome.html' %}

{% block content %} 
<div class="container">
<div class="row">
<div class="col-lg-12">

<style>
.mylink
{
 font-size:20px;    
 color: blue;
}    
</style>

<a class="mylink" href="/myadmin/manageusers/">
    Manage Users
</a>
<br/><br/>
<a class="mylink" href="/myadmin/addcategory/">
    Category
</a>
<br/><br/>
<a class="mylink" href="/myadmin/addsubcategory/">
    SubCategory
</a>
<br/><br/>
<a class="mylink" href="/myadmin/addproperty/">
    Add Property
</a>
    
</div>
</div>
</div>
{% endblock content %}


